* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
}
header {
  text-align: center;
}
.container {
  width: 90%;
  margin: auto;
}
.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.add-form .form-group {
  margin-bottom: 15px;
}